/* RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}



ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100dvh;
  line-height: 1.5;
  background-color: #F9F9F9;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
} */

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/********* responsive design ********/

@media (max-width: 1269px) {
.center-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.main-container {
    padding-left:30px;
    padding-right: 30px ;
}
.left-menu {
    font-size: 1.3rem;
    font-weight: 500;
}

.book-btn {
    font-weight: 700;
    font-size: 1rem;
    border: 1px solid black;
    background-color: #1b1c1d;
    color:white;
    padding: 7px;
}
.hero-section-container img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.hero-text-block {
      bottom: 40px;
      left: 30px;
    }
    .restaurant-name {
      font-size: 1.5rem;
    }

}

